.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group-item:hover .hidden {
  display: block;
}

.content-box {
  width: -webkit-fill-available;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa-check {
  color: #fff;
}

.completed {
  color: rgb(13, 92, 26);
}

.item-completed {
  color: rgb(155, 148, 148);
  font-style: italic;
  text-decoration: line-through;
}

.hidden {
  display: none;
}

.item-content {
  font-weight: 700;
  padding-left: 15px; 
}

.circle {
  border: 1px solid rgb(165, 161, 161);
  border-radius: 50%;
}